<% if user_signed_in? && current_user.role == "User" %>

<h1 class="center">Your Scholarship</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>GPA</th>
      <th>Address</th>
      <th>State</th>
      <th>University</th>
      <th>Essay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= current_user.scholarship %></td>
        <td><%= current_user.scholarship.name %></td>
        <td><%= current_user.scholarship.gender %></td>
        <td><%= current_user.scholarship.date_of_birth %></td>
        <td><%= current_user.scholarship.gpa %></td>
        <td><%= current_user.scholarship.address %></td>
        <td><%= current_user.scholarship.state %></td>
        <td><%= current_user.scholarship.university %></td>
        <td><%= current_user.scholarship.essay %></td>
        <td><%= link_to 'Show', current_user.scholarship %></td>
        <td><%= link_to 'Edit', current_user.edit_scholarship_path(scholarship) %></td>
        <td><%= link_to 'Destroy', current_user.scholarship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<% end %>