<% if user_signed_in? && current_user.role == "Admin" %>

<h1 class="center">All User Scholarships</h1>

<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>State</th>
      <th>University</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scholarships.each do |scholarship| %>
      <tr>
        <td><%= scholarship.user_id %></td>
        <td><%= scholarship.name %></td>
        <td><%= scholarship.gender %></td>
        <td><%= scholarship.date_of_birth %></td>
        <td><%= scholarship.state %></td>
        <td><%= scholarship.university %></td>
        <td><%= link_to 'Show', scholarship, class: "btn btn-success", style: "color:white" %></td>
        <td><%= link_to 'Edit', edit_scholarship_path(scholarship), class: "btn btn-warning", style: "color:white" %></td>
        <td><%= link_to 'Destroy', scholarship, method: :delete, data: { confirm: 'Are you sure you wish to delete this scholarship? This cannot be undone.' }, class: "btn btn-danger", style: "color:white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

