<p id="notice"><%= notice %></p>

<p>
  <strong>Scholarship ID:</strong>
  <%= @scholarship.id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @scholarship.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @scholarship.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @scholarship.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @scholarship.date_of_birth %>
</p>

<p>
  <strong>GPA:</strong>
  <%= @scholarship.gpa %>
</p>

<p>
  <strong>Address:</strong>
  <%= @scholarship.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @scholarship.state %>
</p>

<p>
  <strong>University:</strong>
  <%= @scholarship.university %>
</p>

<p>
  <strong>Essay:</strong>
  <%= @scholarship.essay %>
</p>

<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
