<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>String</th>
      <th>Date of birth</th>
      <th>Date</th>
      <th>Gender</th>
      <th>Boolean</th>
      <th>Address</th>
      <th>Text</th>
      <th>City</th>
      <th>String</th>
      <th>Zip code</th>
      <th>String</th>
      <th>Phone number</th>
      <th>String</th>
      <th>Email</th>
      <th>String</th>
      <th>Essay</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.string %></td>
        <td><%= application.date_of_birth %></td>
        <td><%= application.date %></td>
        <td><%= application.gender %></td>
        <td><%= application.boolean %></td>
        <td><%= application.address %></td>
        <td><%= application.text %></td>
        <td><%= application.city %></td>
        <td><%= application.string %></td>
        <td><%= application.zip_code %></td>
        <td><%= application.string %></td>
        <td><%= application.phone_number %></td>
        <td><%= application.string %></td>
        <td><%= application.email %></td>
        <td><%= application.string %></td>
        <td><%= application.essay %></td>
        <td><%= application.text %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
