<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @application.date_of_birth %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @application.gpa %>
</p>

<p>
  <strong>Essay:</strong>
  <%= @application.essay %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
