<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @application.string %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @application.date_of_birth %>
</p>

<p>
  <strong>Date:</strong>
  <%= @application.date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application.gender %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @application.boolean %>
</p>

<p>
  <strong>Address:</strong>
  <%= @application.address %>
</p>

<p>
  <strong>Text:</strong>
  <%= @application.text %>
</p>

<p>
  <strong>City:</strong>
  <%= @application.city %>
</p>

<p>
  <strong>String:</strong>
  <%= @application.string %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @application.zip_code %>
</p>

<p>
  <strong>String:</strong>
  <%= @application.string %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @application.phone_number %>
</p>

<p>
  <strong>String:</strong>
  <%= @application.string %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>String:</strong>
  <%= @application.string %>
</p>

<p>
  <strong>Essay:</strong>
  <%= @application.essay %>
</p>

<p>
  <strong>Text:</strong>
  <%= @application.text %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
